h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.container{
    width:80%;
    margin: auto;
    border:1 px dashed blue;
    border-radius: 20px;
}